@page
@model TheCharacterFactory.Pages.CharacterPower.GetAllCharacterPowerModel
@{
}


<h4 style="color:red"> List of Character </h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Character Id
            </th>
            <th>
                Power Id
            </th>                     
        </tr>
    </thead>
    <tbody>
        @if (Model.CharacterPower != null)
        {
            @foreach (var item in Model.CharacterPower)
            {
                <tr>
                    <td>
                        @item.id
                    </td>
                    <td>
                        @item.CharacterId
                    </td>
                    <td>
                        @item.PowerMagicId
                    </td>                    
                </tr>
            }
        }
    </tbody>
</table>