@page
@model IndexModel
@{
    ViewData["Title"] = "Character Factory";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4"> Hallo and Welcome to The Character Factory </h1>
    <p><a href="https://www.rollespilslauget.live/"> This link is to Roskilde Rollespils Lauget</a></p>
</div>
