@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>On this site we don't have any privacy policy, everything on this site well be handled by admins. Everything you enter on this site well be on your own responsibility!</p>
